.card {
}

.card-clickable {
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.card-clickable:hover {
    box-shadow: 0 0 12px 3px rgba(200, 200, 200, 0.4);
}

.card-image {
    object-fit: cover;
    aspect-ratio: 3/2;
}

.card-image-full {
    object-fit: contain;
    aspect-ratio: 3/2;
}

.card-image-full-margin {
    object-fit: contain;
    aspect-ratio: 3/2;
    padding: 5px;
}

.card-image-full-margin-dark {
    object-fit: contain;
    aspect-ratio: 3/2;
    padding: 5px;
    background-color: lightgray;
}

.card-text {
    white-space: pre-line;
}

.card-button-wrapper {
}

.card-button {
}
