.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    gap: 50px;
}

.filter {
    width: auto;
}

.filter-text {
    color: white;
}
