.city-card {
    display: flex;
    justify-content: center;
}

.city-map-container {
    position: relative;
    padding-top: 75%;
}

.city-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
