.player-card {
    display: flex;
    justify-content: center;
}

.player-highlight {
    width: 100%;
}

.player-position {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.player-position .player-position-tooltip {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -125px;
}

.player-position .player-position-tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.player-position:hover .player-position-tooltip {
    visibility: visible;
}
